
@{
    ViewData["Title"] = "Puestos";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<!DOCTYPE html>
<html lang="es-gt">
<head>
    <title>Puestos</title>

    <style>
        #divContenidoPuestos {
            position: relative;
            float: left;
            width: 100%;
            height: 100%;
            overflow-x: auto;
        }

        #diviTitulo {
            position: relative;
            float: left;
            width: 100%;
            height: 10%;
            text-align: center;
            margin: 0;
            color: #808080;
        }

        #tblContenido {
            width: 100%;
        }

        #btnAceptar {
            width: 125px;
            height: 40px;
        }

        #txtPuesto {
            width: 200px;
        }
    </style>
</head>

<div id="divContenidoPuestos">
    <div id="diviTitulo">
        <h1>Creacion de puestos</h1>
    </div>
    <div id="divContenido">
        <form>
            <table id="tblContenido">
                <tr>
                    <td><label>Puesto:</label></td>
                    <td><input type="text" id="txtPuesto" name="txtPuesto" /></td>
                </tr>
                <tr>
                    <td>Descripcion:</td>
                    <td><textarea rows="4" cols="100" id="taDescripcion" name="taDescripcion"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="btnAceptar" name="btnAceptar" value="Guardar" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</html>





