
@{
    ViewData["Title"] = "Pagina principal";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<!DOCTYPE html>
<html lang="es-gt">
<head>
    <meta charset="UTF-8" />
    <title>Clinica</title>
</head>
</html>

