
@{
    ViewData["Title"] = "Pagina principal";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<!DOCTYPE html>
<html lang="es-gt">
    <head>
        <title>Clinica</title>
    </head>
</html>

