
@{
    ViewData["Title"] = "Reporte de citas";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<!DOCTYPE html>
<html lang="es-gt">
<head>
    <title>Reporte de citas</title>

    <style>
        #divContenidoReporteCitas {
            position: relative;
            float: left;
            width: 100%;
            height: 100%;
            //background-color:#808080;
            overflow-x: auto;
        }

        #diviTitulo {
            position: relative;
            float: left;
            width: 100%;
            height: 10%;
            //background-color:#000000;
            text-align: center;
            margin: 0;
            color: #808080;
        }

        #tblContenido {
            width: 100%;
        }

        #btnAceptar {
            width: 125px;
            height: 40px;
        }

        #txtPuesto {
            width: 200px;
        }
    </style>

    <style>
        #divContenidoReporteCitas {
            position: relative;
            float: left;
            width: 100%;
            height: 100%;
            //background-color:#808080;
            overflow-x: auto;
        }

        #diviTitulo {
            position: relative;
            float: left;
            width: 100%;
            height: 10%;
            //background-color:#000000;
            text-align: center;
            margin: 0;
            color: #808080;
        }

        #tblContenido {
            width: 100%;
        }

        #btnAceptar {
            width: 125px;
            height: 40px;
        }

        #txtPuesto {
            width: 200px;
        }
    </style>
</head>

<div id="divContenidoReporteCitas">
    <div id="diviTitulo">
        <h1>Reporte de citas de pacientes</h1>
    </div>
    <div id="divContenido">
        <form>
        </form>
    </div>
</div>
</html>



