
@{
    ViewData["Title"] = "Clinica";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<!DOCTYPE html>
<html lang="es-gt">
<head>
    <title>Clinica</title>

    <style>
        #divContenidoDepartamentos {
            position: relative;
            float: left;
            width: 100%;
            height: 100%;
            overflow-x: auto;
        }

        #diviTitulo {
            position: relative;
            float: left;
            width: 100%;
            height: 10%;
            text-align: center;
            margin: 0;
            color: #808080;
        }

        #tblContenido {
            width: 75%;
        }

        #btnAceptar {
            width: 125px;
            height: 40px;
        }

        .clinica {
            width: 200px;
        }

        .tdlabel {
            width: 150px;
        }
    </style>
</head>

<div id="divContenidoClinica">
    <div id="diviTitulo">
        <h1>Creación de clínica</h1>
    </div>
    <div id="divContenido">
        <form>
            <table id="tblContenido">
                <tr>
                    <td class="tdlabel"><label>Nombre clínica:</label></td>
                    <td><input type="text" id="txtClinica" name="txtClinica" class="clinica" /></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Descripción:</label></td>
                    <td><textarea rows="4" cols="50"></textarea></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Dirección:</label></td>
                    <td><input type="text" id="txtDireccionClinica" name="txtDireccionClinica" class="clinica" /></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>No. teléfono:</label></td>
                    <td><input type="tel" id="txtTelefonoClinica" name="txtTelefonoClinica" class="clinica" /></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Correo electrónico:</label></td>
                    <td><input type="email" id="txtEmailClinica" name="txtEmailClinica" class="clinica" /></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label>Sitio web:</label></td>
                    <td><input type="text" id="txtSitioWeb" name="txtSitioWeb" class="clinica" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="btnAceptar" name="btnAceptar" value="Guardar" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</html>




