<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style type="text/css">

    </style>
</head>
<body>
    <div id="divEncabezado">

    </div>
    <div id="divContenido">
        <div id="divMenu">

        </div>
        <div id="divPagina">
            @RenderBody()
        </div>
    </div>
</body>
</html>
