
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <style type="text/css">
        html, body{
            position:absolute;
            height:100%;
            width:100%;
            margin:0;
            padding:0;
            background-color:#000;
        }
        #divContenedorLogin{
            position:relative;
            float:left;
            width: 100%;
            height: 100%;
            background-color: aqua;
            margin:0px 0px 0px 0px;
            border:0px;
            padding:0px;
        }
        #divLogin{
            position:relative;
            width:20%;
            height:25%;
            background-color:#ffffff;
            margin-top:20%;
            margin-bottom:15%;
            margin-left:40%;
            margin-right:20%;
        }
    </style>
</head>
<body>
    <div id="divContenedorLogin">
        <div id="divLogin">

        </div>
    </div>
</body>
</html>
